<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <targets>
    <!-- Цель для логирования в файл -->
    <target xsi:type="File" name="fileTarget" fileName="log.txt"
            layout="${longdate} ${level} ${message}"/>

    <!-- Цель для логирования в консоль -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="consoleTarget"/>
  </rules>
</nlog>